@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .2px;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 30px;
    letter-spacing: .2px;
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
    color: black;
    line-height: 1.4;
}


/* NavBar */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
}
.nav .logo{
    flex: 10%;
    margin-left: 10%;
    padding: 10px;
}
.nav .logo img{
    width: 90px;
}
.nav .menu a{
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    color: #3919bc;
    font-weight: 600;
    padding:20px;
}
.nav .menu{
    flex:60%;
    text-align: right;
    margin-right: 10%;
}
.nav .menu #download-cv{
    margin-left: 3%;
    color: white;
    background: #d35339;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.nav .menu a:hover{
    text-decoration: underline;
    color: #d14124;
    border-top:15px solid #3919bc ;
}
.nav .menu #download-cv:hover{
    color: white;
    background: #700ef9;
    text-decoration: none;
    transition: 0.7s;
}



/*Header*/
.home{
    display: flex;
    justify-content: center;
    align-items: left;
    background-image: linear-gradient(90deg,#aa4c39,#5c1fb1);
    padding-top: 70px;
    padding-bottom: 100px;
}
.home .content-header-rigth{
    flex: 50%;
    margin-right: 10%;
    padding-top: 4%;        
}
.home .content-header-rigth img{
    width: 100%;
    min-width: 700px ;
}
.home .content-header-left{
    margin-left: 10%;
    padding-top: 4%;
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}
.home .content-header-left .card-header{
    background: transparent;
    padding: 60px 40px;
}
.home .content-header-left .card-header .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff,#e66767);
    margin: auto;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
    box-shadow: 5px 8px rgb(61, 56, 56);
}
@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.home .content-header-left .card-header .pic img{
    display: block;
    height: 250px;
    max-width: 250px;
}
.home .content-header-left .card-header .name-home{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 900;
    margin: 5px 0;
}
.home .content-header-left .card-header .description-home{
    font-size: 18px;
    color: #f2f2f2;
}
.home .content-header-left .card-header .card-icon-home{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 5px;
}
.home .content-header-left .card-header .card-icon-home a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}
.home .content-header-left .card-header .card-icon-home a:hover{
    background: #f2f2f2;
    color: #3919bc;
    padding: 5px;
}
.home .content-header-left .card-header .card-icon-home #github:hover{
    color: black;
}
.home .content-header-left .card-header .card-icon-home #facebook:hover{
    color: #4267B2;
}
.home .content-header-left .card-header .card-icon-home #linkedin:hover{
    color: #1DA1F2;
}
.home .content-header-left .card-header .btn_contact_me-home{
    display: inline-block;
    padding: 12px 50px;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    text-decoration: none;
    transition: .3s linear;
}
.home .content-header-left .card-header .btn_contact_me-home:hover {
    box-shadow: 4px 4px rgb(61, 56, 56);
}

/*Section About*/
.about{
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .left-about{
    margin-left: 10%;
    flex: 20%;
}
.about .right-about{
    margin-right: 10%;
    margin-left: 5%;
    flex: 60%;
}
.about .left-about img{
    width: 350px;
    height: 400px;
    box-shadow: 5px 5px #5a447a;
}
.about .right-about .name-about{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 35px;
    margin-bottom: 32px;
    line-height: 0;
}
.about .right-about .name-about span{
    display: inline-block;
    padding-top:10px;
    font-weight: 600;
    font-family: 'Poppins';
}
.about .right-about span.description-about{
    font-style: italic;
    color: #767676;
    margin-top: 10px;
}
.about .right-about .name-about h3 .bg-about{
    position:absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    font-size: 150px;
    font-weight: 900;
    opacity: 0.1;
    line-height: 0;
    user-select: none;
}
.about .right-about .name-about h3{
    letter-spacing: .2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    position: relative;
    color: #000;
}
.about .right-about .text-about{
    width: 100%;
    margin-bottom: 23px;
}
.about .right-about .text-about p{
    margin-bottom: 13px;
    font-style: italic;
    padding-bottom: 15px;
}
.about .right-about .btn_learn_more-about a{
    text-decoration: none;
    color: white;
    padding: 13px 50px;
    background: #5c1fb1;
    transition: .3s ease;
    border-radius: 20px;
    box-shadow: 3px 3px;
}
.about .right-about .btn_learn_more-about{
    margin-top: 40px;
}
.about .right-about .btn_learn_more-about a:hover{
    border: 3px solid #5c1fb1;
    background: white;
    color: #aa4c39;
}


/*soft skill*/
.skill{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    flex: 100%;
}
.skill .card-skill{
    position: relative;
    display: inline-block;
    width: 30%;
}
.skill .margin_left-skill{
    margin-left: 4%;
}
.skill .card-skill img{
    position: absolute;
    left: 0;
    top: 5px;
    height: 64px;
    width: 64px;
}
.skill .card-skill .text{
    padding-left: 75px;
}
.skill .card-skill .text h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}
.skill .card-skill .text p{
    font-style: italic;
}