@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
    color: black;
    line-height: 1.4;
}


/* NavBar */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background: white;
    width: 100%;
}



.logo{
    flex: 10%;
    margin-left: 10%;
    padding: 10px;
}


.logo img{
    width: 90px;
}

.menu a{
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    color: #3919bc;
    font-weight: 600;
    padding:20px;
}

.menu{
    flex:60%;
    text-align: right;
    margin-right: 10%;
}

#download-cv{
    margin-left: 3%;
    color: white;
    background: #d35339;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.menu a:hover{
    text-decoration: underline;
    color: #d14124;
    border-top:15px solid #3919bc ;
}

#download-cv:hover{
    color: white;
    background: #700ef9;
    text-decoration: none;
    transition: 0.7s;
}


/*Header*/
.home{
    display: flex;
    justify-content: center;
    align-items: left;
    background-image: linear-gradient(90deg,#aa4c39,#5c1fb1);
    padding-top: 70px;
    padding-bottom: 100px;
}


.content-header-rigth{
    flex: 50%;
    margin-right: 10%;
    padding-top: 4%;        
}

.content-header-rigth img{
    width: 100%;
    min-width: 700px ;
}

.content-header-left{
    margin-left: 10%;
    padding-top: 4%;
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

.card-header{
    background: transparent;
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff,#e66767);
    margin: auto;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
    box-shadow: 5px 10px #000;
}


@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    height: 250px;
    max-width: 250px;
}

.name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 5px 0;
}

.desc{
    font-size: 18px;
    color: #f2f2f2;
}

.card-icon{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 5px;
}

.card-icon a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.card-icon a:hover{
    background: #f2f2f2;
    color: #3919bc;
    padding: 5px;
}

.card-icon #github:hover{
    color: black;
}

.card-icon #facebook:hover{
    color: #4267B2;
}

.card-icon #linkedin:hover{
    color: #1DA1F2;
}

.contact-btn{
    display: inline-block;
    padding: 12px 50px;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    text-decoration: none;
}




/* Section/About */
.about{
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-about{
    margin-left: 10%;
    flex: 20%;
}
.right-about{
    margin-right: 10%;
    margin-left: 5%;
    flex: 60%;
}


.left-about img{
    width: 400px;
    height: 450px;
    box-shadow: 5px 5px;
}

.right-about .name-about{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 35px;
    margin-bottom: 32px;
    line-height: 0;
}

.right-about .name-about span{
    display: inline-block;
    padding-top:10px;
    font-weight: 600;
    font-family: 'Poppins';
}
.right-about span.description-about{
    font-style: italic;
    color: #767676;
    margin-top: 10px;
}



.right-about .name-about h3 .bg-about{
    position:absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    font-size: 150px;
    font-weight: 900;
    opacity: 0.1;
    line-height: 0;
    user-select: none;
}

.right-about .name-about h3{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    position: relative;
    color: #000;
}

.right-about .text-about{
    width: 100%;
    margin-bottom: 23px;
}

.right-about .text-about p{
    margin-bottom: 13px;
    font-style: italic;
    padding-bottom: 15px;
}

.right-about .button-about a{
    text-decoration: none;
    color: white;
    padding: 13px 50px;
    /* background-image: linear-gradient(130deg,#aa4c39,#5c1fb1); */
    background: #5c1fb1;
    transition: .3s linear;
}

.right-about .button-about{
    margin-top: 100px;
}

.right-about .button-about a:hover{
    border: 3px solid #5c1fb1;
    background: white;
    color: #aa4c39;
    border-radius: 20px;
}

